<!-- Image Column -->
<div class=row>
	<div class="col-sm-6">
		<div class="image-container">
			<div class="image-block">
				<a href="#/tours"><img ng-src="img/tours/{{tour.TourId}}.jpg"
					alt="{{tour.Title}}"></a>
			</div>
		</div>
	</div>
	<!-- End Image Column -->
	<!-- Project Info Column -->
	<div class="portfolio-item-description col-sm-6">
		<h3>{{tour.Title}}</h3>
		<p ng-bind-html="tour.Description"></p>
		<ul class="no-list-style">
			<li><b>Цена:</b> {{tour.Price}} евро</li>
			<li><b>Тип тура:</b> <span ng-repeat="type in tour.tourTypes"><a
					ng-href="#tours/?tourTypeId={{type.TourTypeId}}">{{type.TypeName}}</a>{{$last
					? '' : ', '}}</span></li>
			<li><b>Маршрут:</b> {{tour.Route}}</li>
			<li><b>Транспорт:</b> {{tour.Transport}}</li>
			<li><b>Длительность:</b> {{tour.tourDays.length}}</li>
			<li><b>Страны:</b> <span
				ng-repeat="country in tour.tourCountries"><a
					ng-href="#tours/?countryId={{country.CountryId}}">{{country.CountryName}}</a>{{$last
					? '' : ', '}} </span></li>
			<li><b>Даты выездов:</b> <span
				ng-repeat="departure in tour.departures">{{departure.DepartureDate}}{{$last
					? '' : ', '}}</span></li>
		</ul>
	</div>
</div>
<div class="row" ng-repeat="day in tour.tourDays" tour-day></div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<div class="col-sm-6">
				<h3>В стоимость входит:</h3>
				<p>{{tour.Includes}}</p>
			</div>
			<div class="col-sm-6">
				<h3>В стоимость не входит:</h3>
				<p>{{tour.Excludes}}</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<h4>Просим обратить внимание</h4>
			<ul>
				<li>Стоимость факультативных программ состоит из стоимости
					входных билетов и/или транспортного обслуживания, и/или услуг гида,
					и/или резервации, и/или стоимости парковки/стоянки/въезда автобуса
					на территории объекта.</li>
				<li>Автобусное обслуживание и сопровождение руководителя в
					свободное время не предусмотрено;</li>
				<li>Фирма оставляет за собой право изменять программу тура без
					уменьшения общего объёма услуг;</li>
				<li>Фирма не несёт ответственности за пробки на дорогах,
					погодные условия и работу таможенных служб;</li>
				<li>Автобус движется со скоростью, разрешённой правилами
					перевозки пассажиров в странах Евросоюза;</li>
				<li>Туалеты в странах Евросоюза могут быть платными, средняя
					стоимость от 0,50 до 1 евро.</li>
				<li>Проживание в отелях категории 3*, в некоторых случаях
					возможно 2*, если отель по качеству на равне 3*;</li>
				<li>Туристы, которые путешествуют одни, могут быть размещены на
					дополнительной кровати в двухместном номере</li>
				<li>Горячие напитки в автобусе готовиться не будут. Во время
					длительных переездов каждые 3-3,5 часа мы будем делатьостановки,
					где будет возможность приобрести чай/кофе или другие напитки.</li>
				<li>Минимальное количество для выполнения факультативной
					программы 20 человек.</li>
				<li>Сопровождающий группы НЕ делает организованный заезд группы
					в супермаркеты «Теско» или другие, если это не указано в программе
					тура.</li>
				<li>При выезде из Евросоюза на границе TAX-FREE оформляться НЕ
					БУДЕТ.</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<h4>Маршрут тура</h4>
			<p class="text-center" ng-bind-html="tour.RouteMap"></p>
		</div>
	</div>
</div>
<div class="row" order-form></div>
<!-- End Project Info Column -->