<!-- Image Column -->
<div class=row>
	<div class="col-sm-6">
		<div class="image-container">
			<div class="image-block">
				<a href="#/tours"><img ng-src="img/tours/{{tour.TourId}}.jpg"
					alt="{{tour.Title}}"></a>
			</div>
		</div>
	</div>
	<!-- End Image Column -->
	<!-- Project Info Column -->
	<div class="portfolio-item-description col-sm-6">
		<h3>{{tour.Title}}</h3>
		<p ng-bind-html="tour.Description"></p>
		<ul class="no-list-style">
			<li><b>Цена:</b> {{tour.Price}} евро</li>
			<li><b>Тип тура:</b> <span ng-repeat="type in tour.tourTypes">{{type.TypeName}}{{$last
					? '' : ', '}}</span></li>
			<li><b>Маршрут:</b> {{tour.Route}}</li>
			<li><b>Транспорт:</b> {{tour.Transport}}</li>
			<li><b>Длительность:</b> {{tour.tourDays.length}}</li>
			<li><b>Страны:</b> <span
				ng-repeat="country in tour.tourCountries">{{country.CountryName}}{{$last
					? '' : ', '}}</span></li>
			<li><b>Даты выездов:</b> <span
				ng-repeat="departure in tour.departures">{{departure.DepartureDate}}{{$last
					? '' : ', '}}</span></li>
		</ul>
	</div>
</div>
<div class="row" ng-repeat="day in tour.tourDays">
	<div class="col-sm-12 tour-day">
		<h4 class="tour-day-number">
			День {{$index + 1}} <small>{{day.Route}}</small>
		</h4>
		<div class="content-block tour-day-content">
			<p ng-bind-html="day.DayContent"></p>
			<div class="col-sm-3">
				<div class="image-container">
					<div class="image-block">
						<img ng-src="{{'img/days/' + day.TourDayId + '_1.jpg'}}" alt="1">
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="image-container">
					<div class="image-block">
						<img ng-src="{{'img/days/' + day.TourDayId + '_2.jpg'}}" alt="2">
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="image-container">
					<div class="image-block">
						<img ng-src="{{'img/days/' + day.TourDayId + '_3.jpg'}}" alt="3">
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="image-container">
					<div class="image-block">
						<img ng-src="{{'img/days/' + day.TourDayId + '_4.jpg'}}" alt="4">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>


	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<div class="col-sm-6">
				<h3>В стоимость входит:</h3>
				<p>{{tour.Includes}}</p>
			</div>
			<div class="col-sm-6">
				<h3>В стоимость не входит:</h3>
				<p>{{tour.Excludes}}</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<h4>Просим обратить внимание</h4>
			<ul>
				<li>Стоимость факультативных программ состоит из стоимости
					входных билетов и/или транспортного обслуживания, и/или услуг гида,
					и/или резервации, и/или стоимости парковки/стоянки/въезда автобуса
					на территории объекта.</li>
				<li>Автобусное обслуживание и сопровождение руководителя в
					свободное время не предусмотрено;</li>
				<li>Фирма оставляет за собой право изменять программу тура без
					уменьшения общего объёма услуг;</li>
				<li>Фирма не несёт ответственности за пробки на дорогах,
					погодные условия и работу таможенных служб;</li>
				<li>Автобус движется со скоростью, разрешённой правилами
					перевозки пассажиров в странах Евросоюза;</li>
				<li>Туалеты в странах Евросоюза могут быть платными, средняя
					стоимость от 0,50 до 1 евро.</li>
				<li>Проживание в отелях категории 3*, в некоторых случаях
					возможно 2*, если отель по качеству на равне 3*;</li>
				<li>Туристы, которые путешествуют одни, могут быть размещены на
					дополнительной кровати в двухместном номере</li>
				<li>Горячие напитки в автобусе готовиться не будут. Во время
					длительных переездов каждые 3-3,5 часа мы будем делатьостановки,
					где будет возможность приобрести чай/кофе или другие напитки.</li>
				<li>Минимальное количество для выполнения факультативной
					программы 20 человек.</li>
				<li>Сопровождающий группы НЕ делает организованный заезд группы
					в супермаркеты «Теско» или другие, если это не указано в программе
					тура.</li>
				<li>При выезде из Евросоюза на границе TAX-FREE оформляться НЕ
					БУДЕТ.</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block">
			<h4>Маршрут тура</h4>
			<p class="text-center" ng-bind-html="tour.RouteMap"></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="content-block" ng-controller="TourOrderFormController">
			<h4>Заказать тур</h4>
			<form novalidate class="form-horizontal" name="tourOrderForm">
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Тур</label>
					</div>
					<div class="col-sm-6">
						<p class="form-control-static">{{tour.Title}}</p>
					</div>
				</div>
				<div ng-class="{'has-error': (tourOrderForm.departure.$touched && tourOrderForm.departure.$error.required)}"
					class="form-group" >
					<div class="col-sm-2">
						<label class="control-label" for="departure">Дата выезда</label>
					</div>
					<div class="col-sm-6">
						<select name="departure" 
							id="departure" class="form-control" required
							ng-model="tourOrder.Departure"
							ng-options="departure.DepartureDate for departure in tour.departures"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" for="quantity">Колличество
							человек</label>
					</div>
					<div ng-class="{'has-error': (tourOrderForm.quantity.$touched && tourOrderForm.quantity.$error.required)}"
						class="col-sm-6">
						<select name="quantity" 
							id="quantity" class="form-control" required
							ng-model="tourOrder.Quantity"
							ng-options="n for n in [] | range:1:10"></select>
					</div>
				</div>
				<div ng-class="{'has-error': (tourOrderForm.customerName.$dirty && tourOrderForm.customerName.$invalid)}" 
				class="form-group">
					<div class="col-sm-2">
						<label class="control-label" for="customerName">Контактное
							лицо</label>
					</div>
					<div class="col-sm-6">
						<input name="customerName"
							placeholder="введите ваше ФИО" 
							id="customerName" class="form-control" type="text"
							ng-model="tourOrder.CustomerName" required>
					</div>
				</div>
				<div ng-class="{'has-error': (tourOrderForm.telephone.$dirty && tourOrderForm.telephone.$error.required)}"
					class="form-group">
					<div class="col-sm-2">
						<label class="control-label" for="telephone">Контактный
							телефон</label>
					</div>
					<div class="col-sm-6">
						<input name="telephone" 
							placeholder="введите контактный телефон" 
							id="telephone" class="form-control" type="text"
							ng-model="tourOrder.Telephone" required>
					</div>
				</div>
				<div ng-class="{'has-error': (tourOrderForm.email.$dirty && tourOrderForm.email.$invalid)}"
					class="form-group">
					<div class="col-sm-2">
						<label class="control-label" id="email">Контактный email</label>
					</div>
					<div class="col-sm-6">
						<input name="email" 
							placeholder="введите адрес элетронной почты" 
							id="email" class="form-control" type="email"
							ng-model="tourOrder.Email" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" for="comment">Коммнетарий к
							заказу</label>
					</div>
					<div class="col-sm-6">
						<textarea placeholder="введите комментарий к заказу" 
						for="comment" class="form-control" rows="3"
							ng-model="tourOrder.Comment"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8">
						<button ng-click="tourOrderForm.$valid && submit(tourOrderForm)" type="button"
							class="btn pull-right btn-primary">Отправить заказ</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End Project Info Column -->